@tailwind base;
@tailwind components;
@tailwind utilities;

/* animation */
@keyframes bounceLow {
    0%, 100% {
        transform: translateY(-10px);
        animation-timing-function: cubic-bezier(0.8,0,1,1);
    }
    50% {
        transform: none;
        animation-timing-function: cubic-bezier(0,0,0.2,1);
    }
}
.animate-bounce-low {
    animation: bounceLow 1.5s infinite;
}

.text-hero {
    --tw-gradient-from: #052e16 var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(5 46 22 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    --tw-gradient-to: #000 var(--tw-gradient-to-position);
}

.dark .text-hero {
    --tw-gradient-from: #4ade80 var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(74 222 128 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    --tw-gradient-to: #fff var(--tw-gradient-to-position);
}




